@{
    ViewData["Title"] = "Пользователи";
}

@model TaskManager.ViewModels.Admin.UserListViewModel

<div class="container">
    <div class="row mb-4">
        <form method="get" asp-action="UserList"
                           asp-controller="Admin"
                           asp-route-page="@(Model.PageViewModel.CurrentPage)"
                           asp-route-pageSize="@(Model.PageViewModel.PageSize)"
                           asp-route-sortState="@(Model.SortViewModel.Current)"
                           asp-route-user="@(Model.FilterViewModel.SelectedUser)">
            <div class="form-group row">

                <div class="col-auto form-floating">
                    <input name="name" value="@Model.FilterViewModel.SelectedUser" id="UserName" class="form-control" />
                    <label for="UserName">Имя пользователя</label>
                </div>
                <div class="col-auto form-floating">
                    <input name="pageSize" value="@Model.PageViewModel.PageSize" id="PageSize" class="form-control" />
                    <label for="PageSize">Значений на странице</label>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-outline-dark rounded" value="Применить фильтр" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <span class="lead text-center">Список пользователей</span>
    </div>
    <div class="row mb-1">
        <div class="col-auto">
            <a asp-action="UserList"
               asp-controller="Admin"
               asp-route-page="@(Model.PageViewModel.CurrentPage)"
               asp-route-pageSize="@(Model.PageViewModel.PageSize)"
               asp-route-sortState="@(Model.SortViewModel.NameSort)"
               asp-route-user="@(Model.FilterViewModel.SelectedUser)"
               class="page-link">
                Сортировка по имени
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Расположение</th>
                    <th scope="col">Роль</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <partial name="Partials/_user" model="user" />
                }
            </tbody>
        </table>
    </div>
    @{
        var prevDisabled = Model.PageViewModel.HasPrevious is false ? "disabled" : "";
        var nextDisabled = Model.PageViewModel.HasNext is false ? "disabled" : "";
    }
    <div class="row">
        <div class="col">
            <a asp-action="UserList"
               asp-controller="Admin"
               asp-route-page="@(Model.PageViewModel.CurrentPage - 1)"
               asp-route-pageSize="@(Model.PageViewModel.PageSize)"
               asp-route-user="@(Model.FilterViewModel.SelectedUser)"
               asp-route-sortState="@(Model.SortViewModel.Current)"
               class="btn btn-outline-dark btn-sm w-100 @prevDisabled">
                Назад
            </a>
        </div>
        <div class="col">

            <a asp-action="UserList"
               asp-controller="Admin"
               asp-route-page="@(Model.PageViewModel.CurrentPage + 1)"
               asp-route-pageSize="@(Model.PageViewModel.PageSize)"
               asp-route-user="@(Model.FilterViewModel.SelectedUser)"
               asp-route-sortState="@(Model.SortViewModel.Current)"
               class="btn btn-outline-dark btn-sm w-100 @nextDisabled">
                Вперед
            </a>
        </div>
    </div>
</div>