@model Order

<div class="row my-2">
    <div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        @{
                            string statusText = "";

                            if (Model.Status == TaskManager.Data.Contracts.OrderStatus.Awaiting) statusText = "Ожидает исполнителя";
                            if (Model.Status == TaskManager.Data.Contracts.OrderStatus.InWork) statusText = "В работе";
                            if (Model.Status == TaskManager.Data.Contracts.OrderStatus.Completed) statusText = "Завершена, ожидает Вашего подтверждения";
                        }
                        <span class="badge bg-primary">
                            Статус: @statusText
                        </span>
                        @if (Model.PerformerName is not null)
                        {
                            <span class="badge bg-primary">
                                Исполнитель: @Model.PerformerName
                            </span>
                        }
                        <span class="badge bg-light">
                            Дата регистрации: @Model.RegisterTime.ToShortDateString()
                        </span>
                        <span class="badge bg-light">
                            Срок: @Model.Deadline.ToShortDateString()
                        </span>
                    </div>
                    <div class="col-auto">
                        <a class="badge bg-info page-link" asp-action="ActiveChat" asp-controller="Message" asp-route-orderId="@Model.Id">
                            Чат
                            @if (@Model.NewMessageForUser)
                            {
                                <span class="badge bg-danger rounded">New</span>
                            }
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>
                    @Model.Description
                </p>
                @if (Model.Status == TaskManager.Data.Contracts.OrderStatus.Awaiting)
                {
                    <partial name="Partials/_optionsAwaiting" model="@Model.Id" />
                }
                @if (Model.Status == TaskManager.Data.Contracts.OrderStatus.Completed)
                {
                    <partial name="Partials/_optionsCompleted" model="@Model.Id" />
                }
            </div>
        </div>
    </div>
</div>