@model TaskManager.ViewModels.ShowOrderViewModel

<div class="card my-2">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <div class="text-left">
                    <span class="badge bg-secondary text-light text-monospace">id: @Model.OrderId</span>
                </div>
                <div class="text-left">
                    <span class="badge badge-info">
                        Автор: @Model.AuthorName
                    </span>
                    <span class="badge badge-info">
                        Время создания: @Model.RegisterDate.ToShortDateString()
                    </span>
                    <span class="badge badge-info">
                        Срок: @Model.DeadLine.ToShortDateString()
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="text-right">
                    <span class="badge bg-warning text-monospace">Статус: @Model.Status</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="font-weight-light">
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <a class='btn btn-primary btn-block btn-sm' asp-action="SubscribeToOrder" asp-controller="Home" asp-route-id="@Model.OrderId">
                    Подписаться на выполнение
                </a>
            </div>
        </div>
    </div>
</div>