@model Order

<span class="badge bg-dark text-light">id: @Model.Id</span>
<span class="badge bg-light text-dark">Статус: @Model.Status</span>
description: @Model.Description
registerTime: @Model.RegisterTime
performer: @Model.PerformerId
author: @Model.AuthorId
deadline: @Model.Deadline
expired: @Model.Expired
message: @Model.Message

    admin:
    (Статус (order)) Заявка от (Имя пользователя (user) ) (Дата создания (order) ) (Срок (order) (Осталось времени ))

    (Description (order))

    <link подписаться на выполнение> <отписаться от выполнения>
    <link написать ответ :)> <link закрыть заявку>

    Итого:
    из бд ордер: id, статус, дата создания, срок, описание, осталось дней(проперти)
    из бд юзер: Имя(кто создал), если есть (Перформер)

    <div class="card my-3" id="@Model.Id">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div class="float-start">@Model.RegisterTime.ToShortDateString()</div>
                </div>
                <div class="col">
                    <div class="float-end">
                        123
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p class="lead">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
