@model Order

<div class="container mb-3">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <span class="badge bg-light">
                        Автор: @Model.OwnerName
                    </span>
                    <span class="badge bg-light">
                        Дата регистрации: @Model.RegisterTime.ToShortDateString()
                    </span>
                    <span class="badge bg-light">
                        Срок: @Model.Deadline.ToShortDateString()
                    </span>
                </div>
                @if (Model.PerformerName is not null)
                {
                    <div class="col-auto">
                        <span class="badge bg-primary">
                            Исполнитель: @Model.PerformerName
                        </span>
                    </div>
                }
                <div class="col-auto">
                    <a class="badge bg-info page-link" asp-action="ActiveChat" asp-controller="Message" asp-route-orderId="@Model.Id">
                        Чат
                        @if (@Model.NewMessageForAdmin)
                        {
                            <span class="badge bg-danger rounded">New</span>
                        }
                    </a>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <p>
                @Model.Description
            </p>
            @if (Model.Status == TaskManager.Data.Contracts.OrderStatus.Awaiting)
            {
                <partial name="Partials/_optionsAwaiting" model="@Model.Id" />
            }
            @if (Model.Status == TaskManager.Data.Contracts.OrderStatus.InWork)
            {
                <partial name="Partials/_optionsInWork" model="@Model.Id" />
            }
        </div>
    </div>
</div>

